---
import Header from "../components/Header.astro";
import SocialMediaMobile from "../components/SocialMediaMobile.astro";

export interface Props {
    title: string;
    color: string;
    transparentBg: boolean;
    mainPage: boolean;
}

const { title, color = "#007d54",transparentBg = false, mainPage = false } = Astro.props;

const color_bg = ((!transparentBg)? color : "transparent");
---

<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <meta name="generator" content={Astro.generator} />

        <script
            src="https://kit.fontawesome.com/510df23e47.js"
            crossorigin="anonymous"></script>

        <link rel="icon" type="image/svg+xml" href="/logo.svg" />

        <title>{title}</title>
    </head>
    <body class="box-border bg-slate-800 font-mono m-0 w-screen z-0 select-none relative background-gradients">
        <Header color={color} mainPage={mainPage}/>

        <slot />

        <SocialMediaMobile color={color}/>
    </body>
</html>

<!-- TODO:make it so on pc if it is the normal page nav is open all the time and on mobile make something like social media mobile but on top where on right there is the blog icon and on the lefy there is the projects icon and in the middle there is jezura777 logo that is link to main page -->
<style define:vars={{ color_bg }}>

    @media (min-width: 768px) {
        .background-gradients{
            --crosses-on-the-screen: 6.4 !important;
        }
    }

    .background-gradients {
        --crosses-on-the-screen: 3.2;
        --x-offset: 2.9vw;
        --y-offset: 2.9vw;
        --line-weight: 0.25rem;
        --size: calc(100vw / var(--crosses-on-the-screen));

        background-image: radial-gradient(
                circle,
                transparent 0.75rem,
                #1e293b 0.75rem
            ),
            linear-gradient(
                var(--color_bg) var(--line-weight),
                transparent var(--line-weight)
            ),
            linear-gradient(
                90deg,
                var(--color_bg) var(--line-weight),
                transparent var(--line-weight)
            );

        background-blend-mode: normal;

        background-size: var(--size) var(--size);
        background-position: calc(
                    calc(calc(var(--size) / 2) + calc(var(--line-weight) / 2)) +
                        var(--x-offset)
                )
                calc(
                    calc(calc(var(--size) / 2) + calc(var(--line-weight) / 2)) +
                        var(--y-offset)
                ),
            var(--x-offset) var(--y-offset), var(--x-offset) var(--y-offset);

        background-attachment:fixed;

        
    }
</style>
